# Auto detect text files and perform LF normalization
* text=auto

# Language detection
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true

# Adjust percentages (optional)
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript